@import "~material-design-icons/iconfont/material-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto&display=swap');
/* 
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

.font-primary {font-family: 'Roboto', sans-serif;}
.font-secondary {font-family: 'Lato', sans-serif;}
.font-tertiary {font-family: 'Open Sans', sans-serif;}

/* 
https://material.io/design/color/applying-color-to-ui.html#sheets-and-surfaces
Colors:
Primary: #344955
Primary-Dark: #232F34
Primary-Light: #4A6572
Secondary: #F9AA33
*/
.bg-primary, 
.btn-primary{background-color: #344955;}
.bg-primary-dark{background-color: #232F34;}
.bg-primary-light{background-color: #4A6572;}
.bg-secondary, 
.btn-secondary{background-color: #F9AA33;}
.bg-success{background-color: #43A047;}
.bg-error{background-color: #D32F2F;}
.bg-info{background-color: #1E88E5;}

.text-primary{color: #344955;}
.text-primary-dark{color: #232F34;}
.text-primary-light{color: #4A6572;}
.text-secondary, 
label.text-secondary, 
label.text-secondary:focus,
input:not(.browser-default):focus:not([readyonly])+label.text-secondary
{color: #F9AA33;}
.text-error{color: #d32f2f;}

.text-h1{font-size: 4.2rem;}
.text-h2{font-size: 3.56rem;}
.text-h3{font-size: 2.92rem;}
.text-h4{font-size: 2.28rem;}
.text-h5{font-size: 1.64rem;}
.text-h6{font-size: 1.15rem;}

.btn-secondary {
  color: #344955;
}

.btn-primary:hover, .btn-primary:focus{
  background-color: #4A6572;
  color:#F9AA33;
}
.btn-secondary:hover, .btn-secondary:focus{
  background-color: #FFBD5B;
  color: #232F34;
}

nav {
  background-color: #344955;
}
.nav-wrapper ul a:hover {
  color: #F9AA33
}
ul.navbarMobileNav {
  /* background-color: #4A6572; */
  background-color: #232F34;
}
ul.navbarMobileNav li a {
  color: #ffffff;
}
ul.navbarMobileNav li a:hover {
  background-color: #4A6572;
  /* background-color: #232F34; */
  color: #F9AA33;
}

input:not(.browser-default):focus:not([readonly]).border-secondary {
  border-color: #F9AA33;
}

.align-v {
  vertical-align: middle;
}

/* border */
.border-l-1 {border-left: 1px solid;}

/* height */
.min-h-200 {min-height: 200px;}
.min-h-400 {min-height: 400px;}
.min-h-500 {min-height: 500px;}
.min-h-20vh{min-height: 20vh;}
.min-h-40vh {min-height: 20vh;}
.min-h-50vh {min-height: 50vh;}
/* width */
.min-w-200 {min-width: 200px;}
.min-w-300 {min-width: 300px;}
.min-w-20vw {min-width: 20vw;}
.min-w-30vw {min-width: 30vw;}

/* padding */
.p-2 {padding: 2px;}
.p-5 {padding: 5px;}
.p-8 {padding: 8px;}
.p-10 {padding: 10px;}
.p-12 {padding: 12px;}
.p-15 {padding: 15px;}
.p-1r, .col.p-1r {padding: 1rem;}
.p-2r, .col.p-2r {padding: 2rem;}
.p-3r, .col.p-3r {padding: 3rem;}
.pl-2 {padding-left: 2px;}
.pl-5 {padding-left: 5px;}
.pl-8 {padding-left: 8px;}
.pl-10 {padding-left: 10px;}
.px-5 {padding-left: 5px; padding-right:5px;}
.px-8 {padding-left: 8px; padding-right:8px;}
.px-10 {padding-left: 10px; padding-right:10px;}
.px-r05 {padding-left: 0.5rem; padding-right: 0.5rem;}
.px-r1 {padding-left: 1rem; padding-right: 1rem;}
.px-r2 {padding-left: 2rem; padding-right: 2rem;}
.py-r05,
.col.py-r05{padding-top: 0.5rem; padding-bottom: 0.5rem;}
.py-r08,
.col.py-r08{padding-top: 0.8rem; padding-bottom: 0.8rem;}
.py-r1,
.col.py-r1{padding-top: 1rem; padding-bottom: 1rem;}
.py-5 {padding-top: 5px; padding-bottom: 5px;}
.py-8 {padding-top: 8px; padding-bottom: 8px;}
.py-10 {padding-top: 10px; padding-bottom: 10px;}


/* margin */
.m-2 {margin: 2px;}
.m-5 {margin: 5px;}
.m-8 {margin: 8px;}
.m-10 {margin: 10px;}
.ml-2 {margin-left: 2px;}
.ml-5 {margin-left: 5px;}
.ml-8 {margin-left: 8px;}
.ml-10 {margin-left: 10px;}
.mr-2 {margin-right: 2px;}
.mr-5 {margin-right: 5px;}
.mr-8 {margin-right: 8px;}
.mr-10 {margin-right: 10px;}
.mb-0 {margin-bottom: 0px;}
.mb-5 {margin-bottom: 5px;}
.mb-8 {margin-bottom: 8px;}
.mb-10 {margin-bottom: 10px;}
.mb-15 {margin-bottom: 15px;}
.mb-20 {margin-bottom: 20px;}
.mb-1r {margin-bottom: 1rem;}
.mb-2r {margin-bottom: 2rem;}
.mb-3r {margin-bottom: 3rem;}
.mb-4r {margin-bottom: 4rem;}
.mb-5r {margin-bottom: 5rem;}
.mt-0 {margin-top: 0px;}
.mt-2 {margin-top: 2px;}
.mt-4 {margin-top: 4px;}
.mt-5 {margin-top: 5px;}
.mt-8 {margin-top: 8px;}
.mt-10 {margin-top: 10px;}
.mt-15 {margin-top: 15px;}
.mt-20 {margin-top: 20px;}
.mt-1r {margin-top: 1rem;}
.mt-2r {margin-top: 2rem;}
.mt-3r {margin-top: 3rem;}
.mt-4r {margin-top: 4rem;}
.mt-5r {margin-top: 5rem;}
.-mt-5 {margin-top: -5px;}
.-mt-8 {margin-top: -8px;}
.-mt-10 {margin-top: -10px;}

@media screen and (min-width: 992px) {
  /* 992px wide or more */
  /* equivalent to materialize .l */
  .desktop-sm-m-2 {margin: 2px;}
  .desktop-sm-m-5 {margin: 5px;}
  .desktop-sm-m-8 {margin: 8px;}
  .desktop-sm-m-10 {margin: 10px;}
  .desktop-sm-ml-2 {margin-left: 2px;}
  .desktop-sm-ml-5 {margin-left: 5px;}
  .desktop-sm-ml-8 {margin-left: 8px;}
  .desktop-sm-ml-10 {margin-left: 10px;}
  .desktop-sm-ml-20 {margin-left: 20px;}
  .desktop-sm-mr-2 {margin-right: 2px;}
  .desktop-sm-mr-5 {margin-right: 5px;}
  .desktop-sm-mr-8 {margin-right: 8px;}
  .desktop-sm-mr-10 {margin-right: 10px;}
}

@media screen and (max-width: 992px) and (min-width: 600px) {
  /* 992px wide or less -and- 600px wide or more*/
}

@media screen and (max-width: 600px) {
  /* 600px wide or less */
  /* equivalent to materialize .s */
}