@import "~material-design-icons/iconfont/material-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto&display=swap');
/* 
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

.font-primary {font-family: 'Roboto', sans-serif;}
.font-secondary {font-family: 'Lato', sans-serif;}
.font-tertiary {font-family: 'Open Sans', sans-serif;}

html, body, #root, .App {height: 100%;}

/* custom content start */


.custom-scroll-bar::-webkit-scrollbar{
	width: 7px;
	/*background-color:rgb(227, 129, 23);*/
	background-color: #212121;
	background-color: transparent;
}
.custom-scroll-bar::-webkit-scrollbar-thumb{
	width: 5px;
	/* border-radius: 20px; */
	background-color: #212121;
}

/* navbar */
ul.dropdown-content > li.navDropText:hover {
  background-color: transparent;
}
ul.dropdown-content > li.navDropText > span.p-0 {
  padding: 0;
}
ul.dropdown-content > li.text-primary,
ul.dropdown-content > li.text-primary > a
{color: #344955;}
ul.dropdown-content > li.text-primary-dark,  
ul.dropdown-content > li.text-primary-dark > a 
{color: #232F34;}
ul.dropdown-content > li.text-primary-light, 
ul.dropdown-content > li.text-primary-light > a,
ul.dropdown-content > li > span.text-primary-light
{color: #4A6572;}
ul.dropdown-content > li.text-secondary,
ul.dropdown-content > li.text-secondary > a,
ul.dropdown-content > li > span.text-secondary,
ul.dropdown-content > li.text-primary > a:hover,
ul.dropdown-content > li.text-primary-dark > a:hover, 
ul.dropdown-content > li.text-primary-light > a:hover
{color: #F9AA33;}

ul.dropdown-content li:hover {
  background-color: #4A6572;
}

/* sign up/login form */
/* label color */
/* .signUpForm .input-field label,
.loginForm .input-field label {
  color: #F9AA33;
} */
/* label focus color */
.signUpForm .input-field input[type=text]:focus + label,
.signUpForm .input-field input[type=email]:focus + label,
.signUpForm .input-field input[type=password]:focus + label,
.loginForm .input-field input[type=text]:focus + label,
.loginForm .input-field input[type=password]:focus + label,
.searchPeopleForm .input-field input[type=text]:focus + label {
  color: #F9AA33;
}
/* label underline focus color */
.signUpForm .input-field input[type=text]:focus,
.signUpForm .input-field input[type=email]:focus,
.signUpForm .input-field input[type=password]:focus,
.loginForm .input-field input[type=text]:focus,
.loginForm .input-field input[type=password]:focus, 
.searchPeopleForm .input-field input[type=text]:focus {
  border-bottom: 1px solid #F9AA33;
  box-shadow: 0 1px 0 0 #F9AA33;
}
/* valid color */
.signUpForm .input-field input[type=text].valid,
.signUpForm .input-field input[type=email].valid,
.signUpForm .input-field input[type=password].valid,
.loginForm .input-field input[type=text].valid,
.loginForm .input-field input[type=password].valid {
  border-bottom: 1px solid #43A047;
  box-shadow: 0 1px 0 0 #43A047;
}
/* invalid color */
.signUpForm .input-field input[type=text].invalid,
.signUpForm .input-field input[type=email].invalid,
.signUpForm .input-field input[type=password].invalid,
.loginForm .input-field input[type=text].invalid,
.loginForm .input-field input[type=password].invalid {
  border-bottom: 1px solid #D32F2F;
  box-shadow: 0 1px 0 0 #D32F2F;
}
/* icon prefix focus color */
.signUpForm .input-field .prefix.active,
.loginForm .input-field .prefix.active,
.searchPeopleForm .input-field .prefix.active {
  color: #F9AA33;
}

/* sidenav friend list */
.sideNavFriendsList.collection.with-header .collection-header {
  /* background-color: #4A6572; */
  background-color: #344955;
  color: #ffffff;
}
.sideNavFriendsList.collection.with-header .collection-header .badge {
  color: #F9AA33;
}
.sideNavFriendsList.collection a.collection-item {
  color: #344955;
}
.sideNavFriendsList .custom-scroll-bar::-webkit-scrollbar{
	width: 7px;
	/*background-color:rgb(227, 129, 23);*/
	background-color: #232F34;
	background-color: transparent;
}
.sideNavFriendsList .custom-scroll-bar::-webkit-scrollbar-thumb{
	width: 5px;
	/* border-radius: 20px; */
	background-color: #232F34;
}

/* custom content end */


.block        {display:block;}
.inline       {display:inline;}
.inline-block {display:inline-block;}

/* 
https://material.io/design/color/applying-color-to-ui.html#sheets-and-surfaces
Colors:
Primary: #344955
Primary-Dark: #232F34
Primary-Light: #4A6572
Secondary: #F9AA33
*/
.bg-primary, 
.btn-primary      {background-color: #344955;}
.bg-primary-dark  {background-color: #232F34;}
.bg-primary-light {background-color: #4A6572;}
.bg-secondary, 
.btn-secondary    {background-color: #F9AA33;}
.bg-success       {background-color: #43A047;}
.bg-error         {background-color: #D32F2F;}
.bg-info          {background-color: #1E88E5;}

.text-primary       {color: #344955;}
.text-primary-dark  {color: #232F34;}
.text-primary-light {color: #4A6572;}
.text-secondary     {color: #F9AA33;}
.text-error         {color: #d32f2f;}
.btn-secondary {color: #344955;}

.text-h1{font-size: 4.2rem;}
.text-h2{font-size: 3.56rem;}
.text-h3{font-size: 2.92rem;}
.text-h4{font-size: 2.28rem;}
.text-h5{font-size: 1.64rem;}
.text-h6{font-size: 1.15rem;}

.text-lighter {font-weight: lighter;}
.text-bold    {font-weight: bold;}
.text-bolder  {font-weight: bolder;}

.btn-primary:hover, .btn-primary:focus{
  background-color: #4A6572;
  color:#F9AA33;
}
.btn-secondary:hover, .btn-secondary:focus{
  background-color: #FFBD5B;
  color: #232F34;
}

nav {
  background-color: #344955;
}
.nav-wrapper ul a:hover {
  color: #F9AA33
}
ul.navbarMobileNav {
  /* background-color: #4A6572; */
  background-color: #232F34;
}
ul.navbarMobileNav li a {
  color: #ffffff;
}
ul.navbarMobileNav li a:hover {
  background-color: #4A6572;
  /* background-color: #232F34; */
  color: #F9AA33;
}


/* border */
.border-white {border-color: #ffffff;}
.border {border: 1px solid;}
.border-l-1 {border-left: 1px solid;}
.border-b-1 {border-bottom: 1px solid;}
.border-b-2 {border-bottom: 2px solid;}
.border-b-4 {border-bottom: 4px solid;}

.border-primary       {border-color: #344955;}
.border-primary-dark  {border-color: #232F34;}
.border-primary-light {border-color: #4A6572;}
.border-secondary     {border-color: #F9AA33;}

/* .sideMain li.active .collapsible-header {
  border-bottom: 4px solid;
  border-color: #4A6572;
} */

.align-v {
  vertical-align: middle;
}

/* height */
.min-h-200  {min-height: 200px;}
.min-h-400  {min-height: 400px;}
.min-h-500  {min-height: 500px;}
.min-h-20vh {min-height: 20vh;}
.min-h-40vh {min-height: 20vh;}
.min-h-50vh {min-height: 50vh;}
.min-h-60vh {min-height: 60vh;}
.min-h-70vh {min-height: 70vh;}
.min-h-80vh {min-height: 80vh;}
.min-h-90vh {min-height: 90vh;}
.h-full {height: 100%;}
/* width */
.min-w-200  {min-width: 200px;}
.min-w-300  {min-width: 300px;}
.min-w-20vw {min-width: 20vw;}
.min-w-30vw {min-width: 30vw;}
.w-full     {width: 100%;}

/* padding */
.p-0  {padding: 0px;}
.p-2  {padding: 2px;}
.p-5  {padding: 5px;}
.p-8  {padding: 8px;}
.p-10 {padding: 10px;}
.p-12 {padding: 12px;}
.p-15 {padding: 15px;}
.p-1r, .col.p-1r {padding: 1rem;}
.p-2r, .col.p-2r {padding: 2rem;}
.p-3r, .col.p-3r {padding: 3rem;}
.pl-2   {padding-left: 2px;}
.pl-5   {padding-left: 5px;}
.pl-8   {padding-left: 8px;}
.pl-10  {padding-left: 10px;}
.pl-1r  {padding-left: 1rem;}
.pl-2r  {padding-left: 2rem;}
.pt-0   {padding-top: 0px;}
.pt-5   {padding-top: 5px;}
.px-0   {padding-left: 0px; padding-right: 0px;}
.px-5   {padding-left: 5px; padding-right: 5px;}
.px-8   {padding-left: 8px; padding-right: 8px;}
.px-10  {padding-left: 10px; padding-right:10px;}
.px-r05 {padding-left: 0.5rem; padding-right: 0.5rem;}
.px-r1  {padding-left: 1rem; padding-right: 1rem;}
.px-r2  {padding-left: 2rem; padding-right: 2rem;}
.py-r05,
.col.py-r05 {padding-top: 0.5rem; padding-bottom: 0.5rem;}
.py-r08,
.col.py-r08 {padding-top: 0.8rem; padding-bottom: 0.8rem;}
.py-r1,
.col.py-r1  {padding-top: 1rem; padding-bottom: 1rem;}
.py-5       {padding-top: 5px; padding-bottom: 5px;}
.py-8       {padding-top: 8px; padding-bottom: 8px;}
.py-10      {padding-top: 10px; padding-bottom: 10px;}


/* margin */
.m-2 {margin: 2px;}
.m-5 {margin: 5px;}
.m-8 {margin: 8px;}
.m-10 {margin: 10px;}
.ml-2 {margin-left: 2px;}
.ml-5 {margin-left: 5px;}
.ml-8 {margin-left: 8px;}
.ml-10 {margin-left: 10px;}
.mr-2 {margin-right: 2px;}
.mr-5 {margin-right: 5px;}
.mr-8 {margin-right: 8px;}
.mr-10 {margin-right: 10px;}
.mb-0 {margin-bottom: 0px;}
.mb-5 {margin-bottom: 5px;}
.mb-8 {margin-bottom: 8px;}
.mb-10 {margin-bottom: 10px;}
.mb-15 {margin-bottom: 15px;}
.mb-20 {margin-bottom: 20px;}
.mb-1r {margin-bottom: 1rem;}
.mb-2r {margin-bottom: 2rem;}
.mb-3r {margin-bottom: 3rem;}
.mb-4r {margin-bottom: 4rem;}
.mb-5r {margin-bottom: 5rem;}
.mt-0 {margin-top: 0px;}
.mt-2 {margin-top: 2px;}
.mt-4 {margin-top: 4px;}
.mt-5 {margin-top: 5px;}
.mt-8 {margin-top: 8px;}
.mt-10 {margin-top: 10px;}
.mt-15 {margin-top: 15px;}
.mt-20 {margin-top: 20px;}
.mt-1r {margin-top: 1rem;}
.mt-2r {margin-top: 2rem;}
.mt-3r {margin-top: 3rem;}
.mt-4r {margin-top: 4rem;}
.mt-5r {margin-top: 5rem;}
.-mt-5 {margin-top: -5px;}
.-mt-8 {margin-top: -8px;}
.-mt-10 {margin-top: -10px;}

.overflow-x-auto  {overflow-x: auto;}
.overflow-y-auto  {overflow-y: auto;}

@media screen and (min-width: 992px) {
  /* 992px wide or more */
  /* equivalent to materialize .l */
  .desktop-sm-m-2 {margin: 2px;}
  .desktop-sm-m-5 {margin: 5px;}
  .desktop-sm-m-8 {margin: 8px;}
  .desktop-sm-m-10 {margin: 10px;}
  .desktop-sm-ml-2 {margin-left: 2px;}
  .desktop-sm-ml-5 {margin-left: 5px;}
  .desktop-sm-ml-8 {margin-left: 8px;}
  .desktop-sm-ml-10 {margin-left: 10px;}
  .desktop-sm-ml-20 {margin-left: 20px;}
  .desktop-sm-mr-2 {margin-right: 2px;}
  .desktop-sm-mr-5 {margin-right: 5px;}
  .desktop-sm-mr-8 {margin-right: 8px;}
  .desktop-sm-mr-10 {margin-right: 10px;}
  .l-h-full{height: 100%;}
}

@media screen and (min-width: 600px) {
  /* 600px wide or more */

  /* height */
  .m-h-90   {height: 90%;} 
  .m-h-full {height: 100%;}
  .m-max-h-100 {max-height: 100px;}
  .m-max-h-250 {max-height: 250px;}
  .m-max-h-300 {max-height: 300px;}
  .m-max-h-500 {max-height: 500px;}
}

@media screen and (max-width: 992px) and (min-width: 600px) {
  /* 992px wide or less -and- 600px wide or more*/
}

@media screen and (max-width: 600px) {
  /* 600px wide or less */
  /* equivalent to materialize .s */
}